In [93]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer

In [94]:
train = pd.read_csv('train.csv') 
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [95]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## Encoding for Categorical variables

In [96]:
lb = LabelBinarizer()
le = LabelEncoder()

In [97]:
train['Gender'].value_counts(dropna=False)

Male      489
Female    112
NaN        13
Name: Gender, dtype: int64

In [98]:
train['Gender']= train['Gender'].map({'Male':0, 'Female':1})

In [99]:
train['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [100]:
train['Education']= train['Education'].map({'Not Graduate':0, 'Graduate':1})

In [101]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,No,0,1,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,0.0,Yes,1,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,0.0,Yes,0,1,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,0.0,Yes,0,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,0.0,No,0,1,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [102]:
train['Married'].value_counts(dropna=False)

Yes    398
No     213
NaN      3
Name: Married, dtype: int64

In [103]:
train['Married']= train['Married'].map({'No':0, 'Yes':1})

In [104]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,0.0,0,1,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,0.0,1.0,1,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,0.0,1.0,0,1,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,0.0,1.0,0,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,0.0,0.0,0,1,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [105]:
train['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [106]:
train['Self_Employed']= train['Self_Employed'].map({'No':0, 'Yes':1})

In [107]:
train['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [108]:
train['Property_Area'] = train['Property_Area'].map({'Rural':0, 'Semiurban':1, 'Urban':2})

In [109]:
train['Loan_Status']= train['Loan_Status'].map({'N':0, 'Y':1})

In [110]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,2,1
1,LP001003,0.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,0.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,0.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,0.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,2,1

In [111]:
train.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## Null imputation

In [112]:
train['Gender'] = train['Gender'].fillna(train['Gender'].dropna().mode().values[0])

train['Married'] = train['Married'].fillna(train['Married'].dropna().mode().values[0])

train['Dependents'] = train['Dependents'].fillna(train['Dependents'].dropna().mode().values[0])

train['Self_Employed'] = train['Self_Employed'].fillna(train['Self_Employed'].dropna().mode().values[0])

train['LoanAmount'] = train['LoanAmount'].fillna(train['LoanAmount'].dropna().median())

train['Loan_Amount_Term'] = train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].dropna().mode().values[0])

train['Credit_History'] = train['Credit_History'].fillna(train['Credit_History'].dropna().mode().values[0])

In [143]:
train.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [150]:
y = train['Loan_Status']
X = train.drop(['Loan_Status','Loan_ID','Dependents'],axis=1)

In [151]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [152]:
from sklearn.ensemble import RandomForestClassifier

In [153]:
model = RandomForestClassifier() 
model.fit(x_train, y_train)

RandomForestClassifier()

In [154]:
from sklearn.metrics import accuracy_score
pred_cv = model.predict(x_cv)
accuracy_score(y_cv,pred_cv)

0.8048780487804879

In [155]:
pred_train = model.predict(x_train)
accuracy_score(y_train,pred_train)

1.0

In [156]:
import pickle 
pickle_out = open("classifier.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()